:root {
    --main-color: rgb(97, 139, 173);
    --bg-color: #3D3D3D;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}




ul,
li {
    list-style: none;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    transition: all 300ms;

    gap: 1em;
    min-height: 100vh;

    background: url(./default-image.jpg) cover;
    color: white;
}





.header,
.footer {
    display: flex;
    gap: 1em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    background-color: var(--bg-color);
}



.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.2em 1em;

    div {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 2em;
    }

    img {
        max-height: 2em;
    }

}

.footer {
    padding: 1em 0;
    margin-bottom: 0;
}



/* Style of sections */
section {
    display: grid;
    gap: 1em;
}

section h2 {
    padding: 0.5em 1em;
    font-size: 1.5em;
    border: 1px solid white;

}




main {

    min-height: 50vh;
    background-color: var(--main-color);
    min-width: 80%;
    max-width: min(100%, 90vh);
    min-height: 100vh;
    margin: 0 auto;
    padding: 1em;

    display: grid;
    gap: 1em
}



#map {

    aspect-ratio: 1/1;
    min-height: 400px;
    width: 98%;
}



/* .grid-form-map {
    display: grid;
    grid-template-columns: 1fr 2fr;

    align-items: center;
    justify-items: center;


    @media screen and (max-width:480px) {

        grid-template-columns: 1fr;
        gap: 3em;
    }

} */


.viz-controls-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    border: white 0.2em solid;
    padding: 2em;
    border-radius: 12px;
}

.interactable {
    cursor: pointer;
}

.button {
    all: unset;
    background-color: rgb(189, 189, 81);
    padding: 0.5em 1em;
    border-radius: 1em;
    transition: all 300ms;
}

.button:hover {
    cursor: pointer;
    transform: scale(101%);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
}

a,
a:visited {

    color: white;
    text-decoration: none;
}

.what-to-plot-selection {

    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 3em;
    /* grid-template-rows: 10vh; */

    padding: 1em;


}


.currently-displaying {}



.scrollable-max-size {
    max-height: 20vh;
    border: solid 1px white;
    border-radius: 1em;

    overflow-y: scroll;
    scrollbar-width: 0;
    scrollbar-color: transparent;

}


.room-choose-container.room-choose-container {
    align-items: center;
}

.what-to-plot-selection>* {
    display: flex;
    padding: 1em;
    gap: 1em;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}


.session-item {
    display: flex;
    flex-direction: row-reverse;
    gap: 0.5em;
}


input[type="checkbox"] {
    background-color: #3D3D3D;
}

.session-name {
    font-style: italic;
    font-weight: bold;
    color: #5ad8ff;
}


/* Big quote */
.room-name::before {
    content: "\"";
    font-size: 2em;
    color: #3D3D3D;
}


.room-name {
    font-style: italic;
    font-weight: bold;
    color: #93f293;
}




.design-only {
    display: none;

}


select {

    padding: 0.2em 1em;
    border: #3D3D3D;
}




/* Overiding styles of leaflet */
.leaflet-popup-content-wrapper.leaflet-popup-content-wrapper {

    /* background-color: #ff605a; */
    z-index: 10000;
}





.tooltip-point-detail {

    display: flex;

    flex-direction: column;
    gap: 0.2em;

    /* background-color: rebeccapurple; */

    >* {
        padding: 0.2em;
    }

    .signal-data,
    .cell-identity {
        display: flex;
        flex-direction: column;
        align-items: start;
    }





    span {
        text-align: left;
    }

    header {
        text-align: left;
        align-self: flex-start;
        /* background-color: #5ad8ff; */
    }

    footer {
        /* background-color: #93f293; */
        font-size: smaller;
    }


}





.sessions-displayed-list {
    display: flex;
    flex-direction: column;
}





.timestamp.detail {}






.two-cols {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.2em;

}

.two-cols.center {
    justify-items: center;
    align-items: center;
}

.bold {
    font-weight: bold;
}




/* Map "disabled" */

#map {
    position: relative;
}

.map-disabled-overlay {
    position: absolute;
    background-color: #3D3D3D;
    opacity: 0.5;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    z-index: 50000;
}






/* Overlay menu to control what is being displayed in the map */
#map-menu-overlay {
    position: absolute;
    left: 1%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2000;

    color: black;
    font-size: large;
    background-color: rgb(203, 216, 81);
    padding: 1em;
    border-radius: 1em;
    gap: 0.5em;
    display: grid;
    grid-column: 40px;
}

#map-menu-overlay #property-select-menu {
    border-radius: 1em;
}





.logout-button {
    all: unset;
    background-color: #5ad8ff;
    color: white;
    padding: 0.5em 1em;
    border-radius: 1em;
    transition: all 300ms;
    color: #000;
}