:root {
    --main-color: rgb(97, 139, 173);
    --bg-color: #3D3D3D;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}


*[title] {
    cursor: zoom-in;
}

ul,
li {
    list-style: none;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    transition: all 300ms;

    gap: 1em;
    min-height: 100vh;

    background: url(./default-image.jpg) cover;
    color: white;
}
html {
    margin: 0;
    padding: 0;
    height: 100%;
}


.text-big {
    font-size: 1.5em;
}


.header,
.footer {
    display: flex;
    gap: 1em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    background-color: var(--bg-color);
}



.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.2em 1em;

    div {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 2em;
    }

    img {
        max-height: 2em;
    }

}

.footer {
    padding: 1em 0;
    margin-bottom: 0;
}



/* Style of sections */
section {
    display: grid;
    gap: 1em;
}

section h2 {
    padding: 0.5em 1em;
    font-size: 1.5em;
    border: 1px solid white;

}




main {

    min-height: 50vh;
    background-color: var(--main-color);
    min-width: 80%;
    max-width: min(100%, 90vh);
    min-height: 100vh;
    margin: 0 auto;
    padding: 1em;

    display: grid;
    gap: 1em
}



#map {

    aspect-ratio: 1/1;
    min-height: 400px;
    width: 98%;
}



/* .grid-form-map {
    display: grid;
    grid-template-columns: 1fr 2fr;

    align-items: center;
    justify-items: center;


    @media screen and (max-width:480px) {

        grid-template-columns: 1fr;
        gap: 3em;
    }

} */


.viz-controls-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    border: white 0.2em solid;
    padding: 2em;
    border-radius: 12px;
}

.interactable {
    cursor: pointer;
}

.button {
    all: unset;
    background-color: rgb(189, 189, 81);
    padding: 0.5em 1em;
    border-radius: 1em;
    transition: all 300ms;
}

.button:hover {
    cursor: pointer;
    transform: scale(101%);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
}

a,
a:visited {

    color: white;
    text-decoration: none;
}

.what-to-plot-selection {

    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 3em;
    padding: 1em;
}

@media screen and (max-width: 480px) {
    .what-to-plot-selection {
        grid-template-columns: 1fr;
    }
}



.border {
    border: solid 1px white;
    border-radius: 1em;
}

.scrollable-max-size {
    max-height: 20vh;
    overflow-y: scroll;
    scrollbar-width: 0;
    scrollbar-color: transparent;

}

.scrollable-max-size::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}



.box-positioned {
    position: relative
}

.overlapping-box-header {
    position: absolute;
    z-index: 10;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);

    /*Styles of the box itself */
    padding: 0.2em 2em;
    border-radius: 12px;
    background-color: rgb(28, 87, 135);
}




.room-choose-container.room-choose-container {
    align-items: center;

    select {
        border-radius: 1em;
        max-width: 90%;
    }
}

.what-to-plot-selection>* {
    display: flex;
    padding: 1em;
    gap: 1em;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}


.session-choose {
    display: grid;
    gap: 1em;
    align-items: center;
    justify-items: center;
}

.session-item {
    display: flex;
    flex-direction: row-reverse;
    gap: 0.5em;
    width: 100%;
}


input[type="checkbox"] {
    background-color: #3D3D3D;
}

.session-name {
    font-style: italic;
    font-weight: bold;
    color: #5ad8ff;
}


/* Big quote */
.room-name::before {
    content: "\"";
    font-size: 2em;
    color: #3D3D3D;
}


.room-name {
    font-style: italic;
    font-weight: bold;
    color: #93f293;
}


.design-only {
    display: none;

}


select {
    padding: 0.2em 1em;
    border: #3D3D3D;


}





/* Overiding styles of leaflet */
.leaflet-popup-content-wrapper.leaflet-popup-content-wrapper {

    z-index: 10000;
}





.tooltip-point-detail {

    display: flex;

    flex-direction: column;
    gap: 0.2em;

    /* background-color: rebeccapurple; */

    >* {
        padding: 0.2em;
    }

    .signal-data,
    .cell-identity {
        display: flex;
        flex-direction: column;
        align-items: start;
    }





    span {
        text-align: left;
    }

    header {
        text-align: left;
        align-self: flex-start;
        /* background-color: #5ad8ff; */
    }

    footer {
        /* background-color: #93f293; */
        font-size: smaller;
    }


}





.sessions-displayed-list {
    display: flex;
    flex-direction: column;
}





.timestamp.detail {}






.two-cols {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.2em;

}

.two-cols.center {
    justify-items: center;
    align-items: center;
}

.bold {
    font-weight: bold;
}




/* Map "disabled" */

#map {
    position: relative;
}



.div-overlay {
    position: absolute;
    background-color: #3D3D3D;
    opacity: 0.5;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 50000;
}

.map-disabled-overlay {

    display: grid;
    align-items: center;
    justify-items: center;

}






/* Overlay menu to control what is being displayed in the map */
#map-menu-overlay {
    position: absolute;
    left: 1%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2000;

    color: black;
    font-size: large;
    background-color: rgb(203, 216, 81);
    padding: 1em;
    border-radius: 1em;
    gap: 0.5em;
    display: grid;
    grid-column: 40px;
}

#map-menu-overlay #property-select-menu {
    border-radius: 1em;
}





.logout-button {
    all: unset;
    background-color: #5ad8ff;
    color: white;
    padding: 0.5em 1em;
    border-radius: 1em;
    transition: all 300ms;
    color: #000;
}



























/* @alreylz FOR THE LOVE OF GOD PLEASE ALEX REFACTOR ME */
/* Quick and dirty popup global popup window to show when loading */


.rotate {
    animation: rotate linear 1s infinite;
}


body:has(.my-load-popup.open),
.modal-wrapper:has(.my-load-popup.open) {
    display: block;
    /* Disable scroll */
    overflow: hidden;
    touch-action: none;
}

.modal-wrapper:has(.my-load-popup) {
    display: none;
}


.modal-bg-page-cover {
    /* display: block; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    /* Use 100vh to ensure full viewport height */

    background-color: rgba(48, 119, 113, 0.37);
   

    backdrop-filter: blur(5px);
    z-index: 9999;
}



.my-load-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;

    background-color: #3D3D3D;
    color: white;
    padding: 1em;
    border-radius: 1em;
    font-size: large;
}

.my-load-popup .loading-text {
    font-size: 1.5em;
    font-weight: bold;
}

.my-load-popup {
    display: none;
}

.my-load-popup.open {
    display: block;
}


@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



/* Leaflet custom content stuff */

.tooltip-header {

    font-size: 1.2em;
    font-weight: bolder;
    margin-bottom: 0.2em;
    background-color: rgb(102, 148, 185);
    border-radius: 12px 12px 0 0;
    color: white;
}


.session-details {
    display: grid;
    align-content: center;
    gap: 1em 0;
}

.session-details>* {
    display: grid;
    justify-content: center;

}



.session-details .key {
    font-weight: bold;
    border-radius: 12px;

    padding: 0.1em 0.2em;
    text-align: center;
}

.session-details .value {
    text-align: center;
}




.tooltip-body {
    display: grid;
    gap: 1em;
}

/* Pi-correction subsection */


.pi-correction-for-session-available {

    border: 0.1em dashed teal;
    border-radius: 12px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;

    gap: 0.2em;
    flex-wrap: wrap;
    padding: 1em 0.2em;

    .key {
        font-weight: bolder;
    }

}





.animated-marker {

    animation: dropFromTop 0.5s ease-out;

}

@keyframes dropFromTop {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeInScale {
    0% {
        transform: translateY(-50px) scale(0);
        opacity: 0;
    }

    100% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}

/* Style to enable transition */
.leaflet-heatmap-layer canvas {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.leaflet-heatmap-layer.canvas-visible canvas {
    opacity: 1;
}










section.collapsible {
    height: 3em;
    cursor: pointer;
    transition: height 0.3s ease;

    overflow: hidden;
    transition: transform 0.3s ease;
}



section.collapsible:not(.collapsed) {
    content: "▲";
    height: max-content;

}


section.collapsible.collapsed::before {
    content: "▼";
    height: 1em;
    font-weight: bold;
    position: relative;
}

/* Quick and dirty collapsible */
.howto-section.collapsible.collapsed::before {
    content: "▼ About this page 🤔";
    padding: 1em;
}

.howto-section.collapsible:not(.collapsed)::after {
    content: " ▲ Hide about";
}

section.collapsible:not(.collapsed)::after {

    font-weight: bold;
    margin: 1em 0;

}






.howto-section:not(.collapsed) {


    text-align: left;
    background-color: #3d3d3d4f;

    h2 {
        all: unset;
        text-align: center;
        margin: 0 1em;
        padding: 1em 0;
        font-size: 2em;
    }

    .feature-list {
        display: grid;
        align-items: center;
        justify-items: center;
        justify-content: center;
        list-style: none;
        padding: 0;
        color: #f0f4f8;
        font-family: system-ui, sans-serif;
        font-size: 1rem;
        max-width: 90%;
        margin: 0 auto;
        gap: 1em;

        line-height: 1.6;
    }

    .feature-list li {

        border-radius: 20px;
        background-color: rgb(255, 255, 255);
        padding: 1em;
        border-radius: 0.1em;
        padding: 0.4em 0.2em;
        color: black;
    }

    .feature-list li {
        .inline-image {
            max-height: min-content;
            display: inline;
        }


        display: grid;
        /* grid-template-columns:  40px 1fr; */
        width: 100%;
        justify-items: center;
        /*align-content: center; */
        justify-content: space-evenly;
        align-items: center;

    }


}


.hidden {
    display: none !important;
}


.inline-image-group {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cropped-circle {
    border-radius: 50%;
}

.positive {
    color: #17b117
}

.positive::before {
    content: "+";
}

.negative {
    color: red;
}

.negative::before {
    content: "-";
}