:root {
    --main-color: rgb(97, 139, 173);
    --bg-color: #3D3D3D;    
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}


ul,li{
    list-style: none;
}

body {
    display: grid;

    gap: 1em;
    min-height: 100vh;

    background: url(./default-image.jpg) cover;
    color: white;
}





.header,
.footer {
    display: flex;
    gap: 1em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    background-color: var(--bg-color);
}


.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.2em 1em;

    div{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 2em;
    }
    img{
        max-height: 2em;
    }

}

main {

    min-height: 50vh;
    background-color: var(--main-color);
    min-width: 80%;
    max-width: min(100%, 1200px);
    margin: 0 auto;
    padding: 1em;

    display: grid;
    gap: 1em
}

#map {

    height: 500px;
    width: 80%;
}



.grid-form-map {
    display: grid;
    grid-template-columns: 1fr 2fr;

    align-items: center;
    justify-items: center;


}


.viz-controls-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    border: white 0.2em solid;
    padding: 2em;
    border-radius: 12px;
}

.interactable {
    cursor: pointer;
}

.button {
    all: unset;
    background-color: rgb(189, 189, 81);
    padding: 0.5em 1em;
    border-radius: 1em;
    transition: all 300ms;
}

.button:hover {
    cursor: pointer;
    transform: scale(101%);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
}

a,
a:visited {

    color: white;
    text-decoration: none;
}

.what-to-plot-selection {

    display:grid;
    grid-template-columns: 1fr 2fr;
    gap: 3em;
    /* grid-template-rows: 10vh; */
    
    padding: 1em;
    

}


.currently-displaying{

}



.scrollable-max-size{
    max-height: 20vh;
    border: solid 1px white;
    border-radius:1em;

    overflow-y:scroll;
    scrollbar-width: 0;
    scrollbar-color: transparent;

}


.room-choose-container.room-choose-container{
    align-items: center;
}

.what-to-plot-selection  > *{
    display: flex;
    padding: 1em;
    gap: 1em;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}


.session-item{
    display: flex;
    flex-direction: row-reverse;
    gap:0.5em;
}


input[type="checkbox"]{
    background-color: #3D3D3D;
}

.session-name {
    font-style: italic;
    font-weight: bold;
    color:#5ad8ff;
}


/* Big quote */
.room-name::before{
    content: "\"";
    font-size: 2em;
    color: #3D3D3D;
}


.room-name{
    font-style: italic;
    font-weight: bold;
    color:#93f293;
}




.design-only{
    display: none;
   
}


select{
    
    padding: 0.2em 1em;
    border:#3D3D3D;
}

option{
    background-color: green;
}



/* Overiding styles of leaflet */
.leaflet-popup-content-wrapper.leaflet-popup-content-wrapper{

    /* background-color: #ff605a; */
}





.tooltip-point-detail{
   
    display: flex;
    
    flex-direction: column;
    gap:0.2em;

    /* background-color: rebeccapurple; */

    > *{
        padding: 0.2em;
    }

    .signal-data,.cell-identity{
        display: flex;
        flex-direction: column;
        align-items: start;
    }



    

    span{
        text-align: left;
    }
    header{
        text-align: left;
        align-self: flex-start;
        /* background-color: #5ad8ff; */
    }

    footer{
        /* background-color: #93f293; */
        font-size: smaller;
    }


}





.sessions-displayed-list{
    display: flex;
    flex-direction: column;
}





.timestamp.detail{

}






.two-cols{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:0.2em;
    
}

.two-cols.center{
    justify-items: center;
    align-items: center;
}

.bold {
    font-weight: bold;
}