/**
 @alreylz - Base styles for the switch input component
**/


.c-switch-input {
  --on-bg-color: #4caf50 ;
  --off-bg-color:  #ccc;
  --inner-circle-color: white;
  --label-color:  teal;
}




.c-switch-input{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    gap:0.4em;
}

.c-switch-label{
    display: flex;
    align-items: center !important;
    justify-content: center;
    color: var(--label-color);
}




/* Container */
.input-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
}

/* Hide default checkbox */
.input-switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

/* Slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--off-bg-color);
    transition: 0.4s;
    border-radius: 28px;
}

/* Circle */
.slider::before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 3px;
    bottom: 3px;
    background-color: var(--inner-circle-color);
    transition: 0.4s;
    border-radius: 50%;
}

/* When checked */
input:checked+.slider {
    background-color: var(--on-bg-color) ;
}

input:checked+.slider::before {
    transform: translateX(22px);
}